.section-help {
    height: 50vh;
    @include media('<=tablet') {
        height: 70vh;
    }
    @include media('<=phone') {
        margin-top: 10%;
        height: 80vh;
        padding-bottom: 5px;
    }
    &-wrapper {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media('<=tablet') {
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        @include media('<=phone') {
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        &_text {
            width: 50%;
            @include media('<=desktop') {
                margin-left: 20px;
            }
            @include media('<=tablet') {
                width: 100%;
                margin-left: 40px;
            }
            @include media('<=phone') {
                width: 100%;
                margin-left: 10px;
                margin-top: 20px;
            }
            &_title {
                h1 {
                    font-family: $poppins;
                    font-size: 35px;
                    color: $dark-blue;
                    @include media('<=phone') {
                        font-size: 26px;
                    }
                }
            }
            &_subtitle {
                margin-top: 20px;
                width: 70%;
                @include media('<=tablet') {
                    width: 80%;
                }
                @include media('<=phone') {
                    width: 100%;
                }
                p {
                    letter-spacing: 2px;
                    color: #28384E;
                    font-family: $lato;
                    font-weight: 600;
                    font-size: 16px;
                    margin-top: 20px;
                }
                .second {
                    letter-spacing: 2px;
                    color: #28384E;
                    font-family: $lato;
                    font-weight: 600;
                    font-size: 16px;
                    margin-top: 20px;
                }
            }
            &_btn {
                margin-top: 30px;
                a {
                    background-color: $orange;
                    color: white;
                    font-family: $lato;
                    font-size: 13px;
                    border: $orange 5px solid;
                    border-radius: 5px;
                    padding: 8px 15px;
                    text-decoration: none;
                    margin-top: 40px;
                }
            }
        }
        &_image {
            background: url('../IMG/people_and_steps.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 700px;
            height: 400px;
            @include media('<=tablet') {
                width: 600px;
                height: 400px;
            }
            @include media('<=phone') {
                margin-top: 25px;
                width: 350px;
                height: 350px;
            }
        }
    }
}